.box img {
    width: 60%;
    height: 70%;
}

.containerDrink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.containerDrink p {
    font-size: 1rem;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 3%;
}

.activeCuriosity {
    font-size: 1.5rem;
    margin: 7%;
    text-align: justify;
}

strong {
    margin: 0% 5% 0% 5%;
}

.containerTime {
    width: 30vw;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    height: 75vh;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 0 10px rgb(75, 157, 250);
}

.containerTime h1 {
    font-size: 35px;
    margin: 7% 0% 7% 0%;
}